@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap");

:root {
  --color-text: #dadada;
  --color-subtext: #b3b3b3;
  --color-primary: #a68af9;
  --color-bg: #1e1e1e;
  --font-title: "Bodoni Moda", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  opacity: 0.15;
  z-index: -1;
}

/* Header */
.header {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
}

.title img {
  width: 80px;
}

.title h1 {
  font-weight: 900;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: auto 20px;
  position: relative;
}

.nav-links a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 800;
  position: relative;
  padding: 7px 0;
  transition: color 0.4s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.nav-links a.active,
.nav-links a:hover {
  color: var(--color-primary);
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 30px;
}

/* Home section*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 50px;
}

.home-content {
  margin-bottom: 180px;
  margin-right: 30px;
  flex: 1 1 60%;
}

.intro {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.introSymbol {
  color: var(--color-primary);
}

.cursor {
  display: inline-block;
  width: 1px;
  color: var(--color-primary);
  transform: translateY(-10%);
}

.blinking {
  animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--color-primary);
  }
}

.home h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 6rem;
  margin: 10px auto;
  color: var(--color-primary);
}

.home p {
  line-height: 1.8;
  opacity: 0.8;
  margin-top: 30px;
}

.home-buttons {
  margin-top: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.resume-button {
  text-decoration: none;
  color: var(--color-primary);
  padding: 15px 25px;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  transition: box-shadow 0.3s ease;
}

.resume-button:hover {
  box-shadow: 0 0 15px var(--color-primary);
}

.icon-link {
  margin-left: 30px;
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: box-shadow 0.3s ease;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  padding: 9px;
}

.icon-link:hover {
  box-shadow: 0 0 15px var(--color-primary);
}

.home-image img {
  animation: float 3s ease-in-out infinite;
  max-width: 100%;
  height: auto;
  flex: 1 1 40%;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 1120px) {
  .intro {
    font-size: 2rem;
  }

  .home-content {
    flex: 1 1 75%;
  }

  .home h1 {
    font-size: 5rem;
    margin: 10px auto;
  }

  .home-image img {
    flex: 1 1 25%;
  }
}

@media (max-width: 960px) {
  .intro {
    font-size: 1.8rem;
  }
  .home-content {
    flex: 1 1 80%;
  }
  .home h1 {
    font-size: 4rem;
    margin: 10px auto;
  }
  .home-image img {
    flex: 1 1 20%;
  }
}

@media (max-width: 800px) {
  .header {
    margin: 10px auto;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 25px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    z-index: 1;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px auto;
  }

  .title {
    transform: scale(0.8);
  }

  .home {
    margin-top: 100px;
  }

  .home-image {
    width: 30%;
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: -1;
  }
}

@media (max-width: 420px) {
  .home-image {
    display: none;
  }
}

/* About section */
.about {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  color: var(--color-text);
}

.about h2 {
  color: var(--color-primary);
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-family: var(--font-title);
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  width: 47%;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.introduction p {
  line-height: 1.5rem;
  margin-bottom: 20px;
}

.section-item .section-content {
  padding: 10px 20px;
  border-left: 2px solid var(--color-primary);
  margin-bottom: 30px;
}

.section-item .section-content .date {
  font-weight: bold;
  color: var(--color-primary);
}

.section-item .section-content h3 {
  margin-top: 5px;
}

.section-item .section-content p {
  margin: 10px auto;
  line-height: 1.4rem;
}

.section-item .section-content .details {
  padding-left: 20px;
}

.section-item .section-content .details li {
  padding-bottom: 0.3rem;
  color: var(--color-subtext);
}

.section-item .section-content .skills ul {
  list-style: none;
  margin-top: 10px;
}

.section-item .section-content .skills ul li {
  font-size: 0.8rem;
  color: var(--color-subtext);
  padding: 5px;
  border: 1px solid var(--color-primary);
  border-radius: 20px;
  display: inline-block;
  margin-right: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
